/** @format */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=EB+Garamond:wght@400;500;600;700&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Manrope:wght@200;300;400;500;600;700&family=Montserrat:wght@300;400;500&family=MuseoModerno:wght@100;200;300;400;500;600;700;800&family=Open+Sans&family=Poppins:wght@500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  background: #f5f5f5;
  max-width: 1920px;
}

/* ------------------------headers style starts------------------------ */
nav {
  margin: 39.29px 105.76px 0 104.21px;
  justify-content: space-between;
}

.nav-items {
  gap: 71px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}

.nav-items > a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
}

.nav-items > a:hover {
  color: #ff823e;
  transition: all 0.2s;
}

.banner-section {
  margin: 94.9px 61.56px 138px 104.21px;
  justify-content: space-between;
}

.banner-info-container {
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 29px;
  width: 718.63px;
  min-height: 680.24px;
}

.banner-info-container p {
  font-weight: 400;
  font-size: 28px;
  padding: 29px 0;
}

.banner-title {
  font-weight: 600;
  font-size: 61px;
  text-transform: uppercase;
  color: #3398c4;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
  width: 638.97px;
  height: 388.24px;
}

form > input {
  width: 638.77px;
  height: 57px;
}

form textarea {
  width: 638.77px;
  height: 190.49px;
}
.submit-container {
  gap: 49px;
}
.submit {
  padding: 15px 30px;
  width: 167px;
  height: 57px;
  outline: none;
  border: none;
  color: white;
  cursor: pointer;
}

.banner-img-container {
  justify-content: center;
  position: relative;
  width: 887.21px;
  min-height: 768.73px;
}

.banner-img {
  position: absolute;
  top: 0;
}

.bg-shadow {
  width: 887.21px;
  height: 426.81px;
  background: #b2dff2;
}

/* -------------------header style ends------------------------ */

/* -------------------main section starts----------------------- */

.plan-section {
  margin: 137.63px 105.22px 110.37px 105.22px;
  display: flex;
  justify-content: space-between;
}

.plan-container,
.desire-container {
  width: 702px;
  border-radius: 10px;
}

.plan-container {
  padding: 0 31.67px 0 31.5px;
  border: 2px solid #dbdbdb;
  height: auto;
}

.plan-container > h3 {
  font-weight: 700;
  font-size: 22px;
  line-height: 33px;
  justify-content: space-between;
  padding: 35.06px 31.5px 50.14px 31.5px;
}

fieldset {
  width: 638.83px;
  border: none;
  margin-bottom: 36px;
}

fieldset input,
.purchases-container input {
  margin-top: 15px;
  padding: 13px 20px;
  width: 100%;
  height: 57px;
}

legend {
  color: rgba(255, 130, 62, 1);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.purchases-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 12px;
  width: 636.18px;
  height: auto;
  margin-bottom: 34.28px;
}

.purchases-field {
  width: 100%;
  gap: 11.97px;
  align-items: center;
}

.purchases-field button {
  width: 56.12px;
  height: 57px;
  font-size: 20px;
  color: white;
  margin-top: 15px;
  border-radius: 5px;
  border: none;
  outline: none;
  transform: rotate(-0.06deg);
}

.purchases-btn {
  transform: matrix(1, 0, 0, 1, 0, 0);
  width: 636.07px;
}

.middle-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  margin: 0 23px;
  width: 259.56px;
  height: 803.87px;
}

.middle-section p {
  font-weight: 400;
  font-size: 25px;
  line-height: 176%;

  text-align: center;

  color: #d2a992;
}

.arrow {
  padding: 150px 0;
}

.desire-container {
  border: 2px solid #ff823e;
  height: 1220px;
}

.desire-container h3 {
  padding: 35.06px 0 30.49px 31.5px;
  font-weight: 700;
  font-size: 22px;
  line-height: 33px;
}

.desire-container p {
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: rgba(0, 0, 0, 0.7);
  padding: 0 0 17.05px 32.59px;
}

.desire-input-container {
  padding: 0 33.23px 15px 32.56px;
}

.desire-pusches-btn {
  width: 636.07px;
  margin: 0 auto;
}

.desire-img {
  padding: 38.25px 31.24px 34.85px 31.76px;
}

.steps-section {
  width: 1920px;
  height: 430.91px;
  left: 0px;
  top: 2336.82px;
}

.steps-section h1 {
  font-weight: 700;
  font-size: 30px;
  line-height: 45px;
  text-align: center;
  padding: 69.58px 0 65.74px 0;
}

table {
  width: 1563.5px;
  height: 181px;
  margin: 0 auto;
}

thead > tr > th:nth-child(odd) {
  font-weight: 700;
  font-size: 20px;
  line-height: 176%;
  text-align: center;
  color: #000000;
}

thead > tr > th:nth-child(even) {
  text-align: center;
  width: 90.8px;
  height: 0px;
}

thead > tr > th:nth-child(even) hr {
  border: 3px solid #ff823e;
}

tbody > tr > td {
  text-align: center;
  width: 216px;
  font-weight: 400;
  font-size: 19px;
  line-height: 176%;
  color: #000000;
}

.purchase-msg {
  margin: 29.86px auto 123.66px auto;
  width: 895.36px;
  height: 171px;
  font-weight: 700;
  font-size: 38px;
  line-height: 57px;
  text-align: center;
  color: #3398c4;
}

.saving-container {
  width: 1920px;
  height: 854.48px;
  background: #f5f5f5;
  padding: 89.89px 105.36px 60.45px 105.36px;
}

.saving-rapper section {
  width: 903.44px;
  height: 561.89px;
}

.saving-rapper > div h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 45px;
}

.saving-table-container {
  width: 752.1px;
  height: 479.72px;
  margin-top: 47.17px;
}

.saving-table {
  width: auto;
}

.saving-empty-td {
  width: 91px;
}
.saving-td {
  width: auto !important;
}

.saving-info-txt {
  width: 734.11px;
  height: 66px;
  font-weight: 700;
  font-size: 19px;
  line-height: 176%;
  margin: 31.84px 0 20.45px 0;
  color: #000000;
}

.more-option {
  justify-content: space-evenly;
  width: 480px;
  font-weight: 700;
  font-size: 20px;
  line-height: 176%;
  color: #000000;
}

.more-info {
  gap: 50.8px;
}

.more-info p {
  width: 216px;
  height: 99px;
  font-weight: 400;
  font-size: 19px;
  line-height: 176%;
  text-align: center;
  padding-top: 13.72px;
  color: #000000;
}

.saving-msg {
  width: 1709.42px;
  height: 72px;
  margin-top: 70.25px;
  font-weight: 400;
  font-size: 19px;
  line-height: 191%;
  text-align: center;
  color: #000000;
}

.saving-banner {
  justify-content: center;
  width: 1920px;
  height: 854.48px;
  background: #ff823e;
}

.saving-banner > div {
  width: 1709.28px;
  height: 647.72px;
  gap: 96px;
  align-items: flex-start;
}

.saving-banner-img {
  width: 843.28px;
  height: 647.72px;
  border-radius: 10px;
}

.saving-banner-info p {
  font-weight: 600;
  font-size: 38px;
  line-height: 160.5%;
  color: #ffffff;
}

.saving-banner-info button {
  padding: 15px 30px;
  margin: 51px 0;
  width: 409px;
  height: 70px;
  background: #23587b;
  border-radius: 5px;
  outline: none;
  border: none;
  color: #ffffff;
  font-weight: 500;
  font-size: 18px;
  cursor: pointer;
}
/* main section ends */

/* ----------------footer---------------- */
footer {
  width: 1920px;
  height: auto;
  padding: 78.14px 105.22px 93.8px 104.21px;
}

.left-footer p {
  width: 828.63px;
  height: auto;
  font-weight: 600;
  font-size: 61px;
  line-height: 121.5%;
  text-transform: uppercase;
  color: #3398c4;
}

.waitlist {
  width: 718.63px;
  height: 42px;
  margin: 41.1px 0 50.85px 0;
  gap: 60px;
  font-weight: 400;
  font-size: 28px;
  line-height: 42px;
  color: rgba(0, 0, 0, 0.7);
}

.footer-form {
  width: 956.78px;
  height: 463.2px;
  border: 2px solid #dbdbdb;
  border-radius: 10px;
  padding: 44.53px 28px 54.67px 28px;
}
.footer-form input {
  width: 100% !important;
}

/* ------------- common styles for multiple uses ---------------------- */

.flex {
  display: flex;
  align-items: center;
}

.secondary-color {
  color: rgba(0, 0, 0, 0.7);
}

.primary-color {
  color: rgba(51, 152, 195, 1);
}

.input {
  height: 57px;
  background: rgba(225, 225, 225, 0.344);
  border-radius: 5px;
  transform: rotate(-0.06deg);
  border: none;
  outline: none;
  padding: 13px 20px;
}

.font-18 {
  font-size: 18px;
  font-weight: 500;
}

.btn {
  background: #23587b;
  border-radius: 5px;
  color: #ffffff;
  font-weight: 600;
  outline: none;
  border: none;
  cursor: pointer;
}

.w-full {
  width: 100%;
}

.margin-0 {
  margin: 0 !important;
}

.bg-red {
  background: #d61414;
  cursor: pointer;
}

.bg-green {
  background: #18d614;
  cursor: pointer;
}

.bg-gray {
  background: #dddddd4b;
}

.hr {
  width: 98px;
  height: 0px;
  border: 3px solid #ff823e;
}
