/** @format */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=EB+Garamond:wght@400;500;600;700&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Manrope:wght@200;300;400;500;600;700&family=Montserrat:wght@300;400;500&family=MuseoModerno:wght@100;200;300;400;500;600;700;800&family=Open+Sans&family=Poppins:wght@500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  background: #f5f5f5;
  min-width: 1920px;
}

/* headers style starts */
nav {
  margin: 39.29px 105.76px 0 104.21px;
  justify-content: space-between;
}

.nav-items {
  gap: 71px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}

.nav-items > a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
}

.nav-items > a:hover {
  color: #ff823e;
  transition: all 0.3s;
}

.banner-section {
  margin: 94.9px 61.56px 138px 104.21px;
  justify-content: space-between;
}

.banner-info-container {
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 29px;
  width: 718.63px;
  min-height: 680.24px;
}

.banner-info-container p {
  font-weight: 400;
  font-size: 28px;
  padding: 29px 0;
}

.banner-title {
  font-weight: 600;
  font-size: 61px;
  text-transform: uppercase;
  color: #3398c4;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
  width: 638.97px;
  height: 388.24px;
}

form > input {
  width: 638.77px;
  height: 57px;
}

form textarea {
  width: 638.77px;
  height: 190.49px;
}
.submit-container {
  gap: 49px;
}
.submit {
  padding: 15px 30px;
  width: 167px;
  height: 57px;
  outline: none;
  border: none;
  color: white;
  cursor: pointer;
}

.banner-img-container {
  justify-content: center;
  position: relative;
  width: 887.21px;
  min-height: 768.73px;
}

.banner-img {
  position: absolute;
  top: 0;
}

.bg-shadow {
  width: 887.21px;
  height: 426.81px;
  background: #b2dff2;
}

/* header style ends */

/* main section starts */

.plan-section {
  margin: 137.63px 105.22px 110.37px 105.22px;
  display: flex;
  justify-content: space-between;
}

.plan-container,
.desire-container {
  width: 702px;
  border-radius: 10px;
}

.plan-container {
  padding: 0 31.67px 0 31.5px;
  border: 2px solid #dbdbdb;
  height: auto;
}

.plan-container > h3 {
  font-weight: 700;
  font-size: 22px;
  line-height: 33px;
  justify-content: space-between;
  padding: 35.06px 31.5px 50.14px 31.5px;
}

fieldset {
  width: 638.83px;
  border: none;
  margin-bottom: 36px;
}

fieldset input,
.purchases-container input {
  margin-top: 15px;
  padding: 13px 20px;
  width: 100%;
  height: 57px;
}

legend {
  color: rgba(255, 130, 62, 1);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.purchases-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 12px;
  width: 636.18px;
  height: auto;
  margin-bottom: 34.28px;
}

.purchases-field {
  width: 100%;
  gap: 11.97px;
  align-items: center;
}

.purchases-field button {
  width: 56.12px;
  height: 57px;
  font-size: 20px;
  color: white;
  margin-top: 15px;
  border-radius: 5px;
  border: none;
  outline: none;
  transform: rotate(-0.06deg);
}

.purchases-btn {
  transform: matrix(1, 0, 0, 1, 0, 0);
  width: 636.07px;
}

.middle-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  margin: 0 23px;
  width: 259.56px;
  height: 803.87px;
}

.middle-section p {
  font-weight: 400;
  font-size: 25px;
  line-height: 176%;

  text-align: center;

  color: #d2a992;
}

.arrow {
  padding: 150px 0;
}

.desire-container {
  border: 2px solid #ff823e;
  height: 1220px;
}

.desire-container h3 {
  padding: 35.06px 0 30.49px 31.5px;
  font-weight: 700;
  font-size: 22px;
  line-height: 33px;
}

.desire-container p {
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: rgba(0, 0, 0, 0.7);
  padding: 0 0 17.05px 32.59px;
}

.desire-input-container {
  padding: 0 33.23px 15px 32.56px;
}

.desire-pusches-btn {
  width: 636.07px;
  margin: 0 auto;
}

.desire-img {
  padding: 38.25px 31.24px 34.85px 31.76px;
}

.steps-section {
  width: 1920px;
  height: 430.91px;
  left: 0px;
  top: 2336.82px;
  background: #dddddd;
}

.steps-section h1 {
  font-weight: 700;
  font-size: 30px;
  line-height: 45px;
  text-align: center;
  padding: 69.58px 0 65.74px 0;
}

.steps-container {
  width: 1563.5px;
  height: 181px;
  margin: 0 auto;
}

/* main section ends */

/* common styles for multiple uses */
.flex {
  display: flex;
  align-items: center;
}

.secondary-color {
  color: rgba(0, 0, 0, 0.7);
}

.primary-color {
  color: rgba(51, 152, 195, 1);
}

.input {
  height: 57px;
  background: rgba(225, 225, 225, 0.778);
  border-radius: 5px;
  transform: rotate(-0.06deg);
  border: none;
  outline: none;
  padding: 13px 20px;
}

.font-18 {
  font-size: 18px;
  font-weight: 500;
}

.btn {
  background: #23587b;
  border-radius: 5px;
}

.w-full {
  width: 100%;
}

.margin-0 {
  margin: 0 !important;
}

.bg-red {
  background: #d61414;
}

.bg-green {
  background: #18d614;
}
